* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------Header general---------*/

.fondo-index {
    background-image: url(../Imagenes/fondo-3.jpg);
    background-size: contain;
    background-attachment: fixed;
}

/* .flex-index {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
               
}

.flex-index li {
    padding: 0.5rem;
    list-style: none;
        
}

header {    
    text-align: center;
    word-spacing: 6px;
    font-family: 'EB Garamond', serif;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: ridge 3px white;
}

.menu {
    text-decoration: none;
    color: white;    
} */

/*---------------Index main-footer--------------*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "ele1 ele1"
    "ele2 ele3"
    "ele4 ele4";  
    justify-items: center;
}

.grid-container1 {
    grid-area: ele1;
    text-align: center;        
}

.grid-container2 {
    grid-area: ele2;
}

.grid-container3 {
    grid-area: ele3;          
}

.grid-container4 {
    grid-area: ele4;   
}


.pdestacado {
    color: black;
    font-size: 64px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    background-image: linear-gradient(45deg, #406882, #b1d0e0);
}

.subxiaomi {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 45px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(45deg, #b1d0e0, #406882);
            
}

.imagenprincipal {
    border-radius: 10%;
    margin-left: 30%;
    margin-top: 15%;
    align-items: center;
}

.descripcion {
    background-color: antiquewhite;
    border-radius: 10%;
    height: 380px;
    margin-top: 15%;
    margin-right: 40%;
    text-align: center;
    width: 250px;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
}

.review {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: black;
    font-family: 'EB Garamond', serif;
    margin-left: 13%;           
}


.botoncomprar {
    text-align: center;
    border-radius: 10%;
    font-family: 'EB Garamond', serif;
    margin-left: 30%;
    margin-top: 2%; 
}

.logos {
    text-align: center;
    padding: 50px;
}


footer {
    text-align: left;
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.imgefecto :hover {
    transform: scale(1.3);
}

.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;        
}

/*----------productos main-footer------------*/

.flex-footer div {  
text-align: left;
padding: 5px;
color: white;   
}


.productos {    
color: black;
font-family: 'EB Garamond', serif;
font-size: 64px;    
text-align: left;
margin-left: 20%; 
margin-top: 5%;
margin-bottom: 5%;   
}

.productos__ul {    
color: black;
font-family: 'EB Garamond', serif;
font-size: 30px;        
text-align: left;
margin-left: 30%;
list-style: none;
float: left;
    
}

.items {    
margin-bottom: 20%;
margin-top: 20%;
font-weight: bold;
display: block;
}

.items__li {    
margin-top: 20%;     
}

.video {    
float: right;
margin-right: 10%;
margin-top: 1%;
}

.logos2 {
    text-align: center;
    margin-top: 30%;
    padding: 50px;
}

.footer2 {
    text-align: left;
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*---------Nosotros main-footer---------*/

.qsomos {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 64px;    
    text-align: center;
    background-image: linear-gradient(45deg, #406882, #b1d0e0);

    
}

.descripcion2 {
    background-color: azure;
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    border-radius: 5%;
    height: 290px;
    width: 500px;
    margin: 2rem auto;
    text-align: center;
    margin-right: 25%;
    margin-top: 8%;
    float: right;
}

.imagenprincipal2 {
    margin-top: 5%;
    margin-bottom: 8%;
margin-left: 5%;
}

.footer3 {
    text-align: left;
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 0;
 width: 100%;
}

/*-------contacto main-footer----------*/

.parrafo {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: bolder;
}

.nombre {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: left;    
    margin-bottom: 5%; 
    font-weight: bold;
}

.correo {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: left;    
    margin-bottom: 5%;
    font-weight: bold; 
}

.consulta {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: left;    
    margin-bottom: 2%;
    font-weight: bold;
}

.enviarlimpiar {
    margin-left: 8%;
    margin-bottom: 3.5%;
}

.footer4 {
    text-align: left;
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 0;
 width: 100%;
}

/*--------FAQ main-footer---------*/

.grid-faq {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "ele1 ele1"
    "ele2 ele5"
    "ele3 ele5"
    "ele4 ele5";    
}

.grid-faq1 {
    grid-area: ele1;        
}

.grid-faq2 {
    grid-area: ele2;    
}

.grid-faq3 {
    grid-area: ele3;
}

.grid-faq4 {
    grid-area: ele4;
}

.grid-faq5 {
    grid-area: ele5;    
    margin-top: 10%;
    margin-right: 16%;
    margin-bottom: 1px;   
    border-style: double;    
}

.pfrecuentes {
    color: black;
    background-image: linear-gradient(45deg, #406882, #b1d0e0);
    font-family: 'EB Garamond', serif;
    font-size: 64px;    
    text-align: center; 
}

.comocomprar {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 45px;
    text-align: left;
    padding: 20px;
    margin-left: 1%;
}

.respuestas1 {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    margin-left: 4%;
}

.enviarpedido {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 45px;
    text-align: left;
    padding: 20px;
    margin-left: 1%;
}

.respuesta2 {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    margin-left: 4%;           
}


.metpago {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 45px;
    text-align: left;
    padding: 20px;
    margin-left: 1%;    
}

.pagos {
    text-align: left;
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 4%;
}

.flex-footer5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
}

.flex-footer5 div {
    text-align: left;
    padding: 5px;
    color: white;   
}
