* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Variables

@import "./components/variables";

// Header General

@import "./components/global";

// Index

@import "./components/index";

// Productos

@import "./components/productos";

// Nosotros

@import "./components/nosotros";

// Contacto

@import "./components/contacto";

// FAQ

@import "./components/faq";


// Media queries

@media screen and (max-width: 280px) {

    /* INDEX */

.navbar {
    margin: 0%;
    padding: 0%;  
}

.pdestacado {
    margin: 0%;
    padding: 0%;
}

.pdestacadosub {
    margin: 0%;
    padding: 0%;
}
 
.carousel {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.alinear {
    margin: 0%;
    margin-left: 1rem;
}

.descripcion {
    margin: 0%;
    padding: 0%;
    &__parrafo {
        margin-left: 1rem;
    }
    &__review {
        margin-left: 0.5rem;
    }
    &__boton {
        margin-left: 5.5rem;
    }   
}

.mapa {
    margin-left: 4rem;
}

/* Productos */

.nprod {
    font-size: 30px;
}

.card-text {
    font-size: 12px;
}

/* Nosotros */

.qsomos {
    font-size: 30px;  
}

.descripcion2 {
    margin: 0%;
    font-size: 17px;
    height: 373px;
    width: 225px;
}

.imagenprincipal2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Contacto */

.container__titulo {
    font-size: 30px;
    margin-bottom: 2rem;
}

/* FAQ */

.pfrecuentes {
    font-size: 30px; 
}

.comocomprar {
    font-size: 30px;
}

.resp1 {
    font-size: 20px;
}

.enviarpedido {
    font-size: 30px;
}

.resp2 {
    font-size: 20px;  
}

.metpago {
    font-size: 30px;
}

.resp3 {
    font-size: 20px;
}
}

@media screen and (max-width: 768px) {
 
/* INDEX */
.pdestacado {
    font-size: 40px;
}

   .pdestacadosub {
    font-size: 30px;
}
    
.imagenprincipaltamaño {
    width: 290px;
    margin-left: 1.2rem; 
}

.descripcion {
    margin: 0%;
    padding: 0%;
    &__parrafo {
        margin-left: 3.5rem;
    }
    &__review {
        margin-left: 0.2rem;
    }
    &__boton {
        margin-left: 8rem;
    }   
}


/* Productos */

.nprod {
    font-size: 40px;
}

.card-text {
    font-size: 2px;
}

/* Nosotros*/

.qsomos {
    font-size: 40px;
    margin-bottom: 2rem;  
}

.descripcion2 {
    margin: 0%;
    margin-left: 3rem;
    font-size: 17px;
    height: 373px;
    width: 225px;
}

.imagenprincipal2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Contacto*/

.container__titulo {
    font-size: 40px;
    margin-bottom: 2rem;
}

/* FAQ*/

.pfrecuentes {
    font-size: 40px; 
}

.comocomprar {
    font-size: 30px;
}

.resp1 {
    font-size: 20px;
}

.enviarpedido {
    font-size: 30px;
}

.resp2 {
    font-size: 20px;  
}

.metpago {
    font-size: 30px;
}

.resp3 {
    font-size: 20px;
}

}

@media screen and (max-width: 1200px) {
 
/*Productos*/

.card-text {
    font-size: 15px;
}
  
/* Nosotros*/

.qsomos {
    margin-bottom: 2rem;  
}

.descripcion2 {
    font-size: 18px;
    height: 375px;
    width: 255px;
}


}