* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Variables

@import "./components/variables";

// Header General

@import "./components/global";

// Index

@import "./components/index";

// Productos

@import "./components/productos";

// Nosotros

@import "./components/nosotros";

// Contacto

@import "./components/contacto";

// FAQ

@import "./components/faq";


// Media queries

@media screen and (max-width: 280px) {

    /* INDEX */

.pdestacado {
    font-size: 30px;
}

.pdestacadosub {
    font-size: 25px;
}

.imagenprincipaltamaño {
    width: 250px;
    margin-left: 1.2rem; 
}

// .descripcion__parrafo {
//     transform: translateY(-90px) translateX(10px);
// }

// .descripcion__review {
//     transform: translateY(-90px) translateX(40px);
// }

// .descripcion__boton {
//     transform: translateY(-90px) translateX(80px);
// }

.mapa {
    margin-left: 4rem;
}

/* Productos */

.nprod {
    font-size: 30px;
}

.card-text {
    font-size: 12px;
}

/* Nosotros */

.qsomos {
    font-size: 30px;  
}

// .alinear {
//     transform: translateY(-60px) translateX(-110px);
// }

.descripcion2 {
    font-size: 17px;
    height: 373px;
    width: 225px;
}

/* Contacto */

.container__titulo {
    font-size: 30px;
    margin-bottom: 2rem;
}

/* FAQ */

.pfrecuentes {
    font-size: 30px; 
}

.comocomprar {
    font-size: 30px;
}

.resp1 {
    font-size: 20px;
}

.enviarpedido {
    font-size: 30px;
}

.resp2 {
    font-size: 20px;  
}

.metpago {
    font-size: 30px;
}

.resp3 {
    font-size: 20px;
}
}

@media screen and (max-width: 768px) {
 
/* INDEX */
.pdestacado {
    font-size: 40px;
}

   .pdestacadosub {
    font-size: 30px;
}
    
.imagenprincipaltamaño {
    width: 290px;
    margin-left: 1.2rem; 
}

// .descripcion__parrafo {
//     // transform: translateY(0px) translateX(70px);
//     display: flex;
//     justify-content: center;
// }

// .descripcion__review {
//     // transform: translateY(-90px) translateX(40px);
//     display: flex;
//     justify-content: center;
// }

// .descripcion__boton {
//     // transform: translateY(-90px) translateX(80px);
//     display: flex;
//     justify-content: center;
// }
.mapa {
    margin-left: 4rem;
}

/* Productos */

.nprod {
    font-size: 40px;
}

.card-text {
    font-size: 12px;
}

/* Nosotros*/

.qsomos {
    font-size: 40px;
    margin-bottom: 2rem;  
}

// .alinear {
//     display: flex;
//     justify-content: center;
// }

.descripcion2 {
    font-size: 15px;
    height: 273px;
    width: 225px;
}

/* Contacto*/

.container__titulo {
    font-size: 40px;
    margin-bottom: 2rem;
}

/* FAQ*/

.pfrecuentes {
    font-size: 40px; 
}

.comocomprar {
    font-size: 30px;
}

.resp1 {
    font-size: 20px;
}

.enviarpedido {
    font-size: 30px;
}

.resp2 {
    font-size: 20px;  
}

.metpago {
    font-size: 30px;
}

.resp3 {
    font-size: 20px;
}

}

@media screen and (max-width: 1200px) {
 
/*Productos*/

.card-text {
    font-size: 15px;
}
  
/* Nosotros*/

.qsomos {
    margin-bottom: 2rem;  
}

.alinear {
    display: flex;
    justify-content: center;
}

.descripcion2 {
    font-size: 18px;
    height: 375px;
    width: 255px;
}

// .descripcion__parrafo {
//     // transform: translateY(0px) translateX(70px);
//     display: flex;
//     justify-content: center;
// }

// .descripcion__review {
//     // transform: translateY(-90px) translateX(40px);
//     display: flex;
//     justify-content: center;
// }

// .descripcion__boton {
//     // transform: translateY(-90px) translateX(80px);
//     display: flex;
//     justify-content: center;
// }

.descripcion {
    font-family: $fuentegral;
    margin-top: 3rem;
    &__parrafo {
        @include estilosyfuente (center, $colorgral, 22px);
        background-color: azure;
        border-radius: 10%;
        height: 373px;
        width: 245px;
        display: flex;
        justify-content: center;   
    }
    &__review {
        @include estilosyfuente (center, $colorgral, 20px);
        display: flex;
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        text-decoration: none;    
    }
    &__boton {
        border-radius: 10%;
        display: flex;
        justify-content: center;
    }
}
}