
.container {
    &__titulo {
        @include estilosyfuente (center, black, $titulogral);
        margin-top: 5%;
        margin-bottom: 3%;
        font-family: $fuentegral;
        background-image: $fondotitulo; 
    }
}

.enviarlimpiar {
    margin-left: 8%;
    margin-bottom: 3.5%;
}



