.pfrecuentes {
    @include estilosyfuente (center, $colorgral, $titulogral);
    background-image: $fondotitulo;
    font-family: $fuentegral;
}        


.comocomprar {
    @include estilosyfuente (left, $colorgral, $subgral);
    font-family: $fuentegral;
    padding: 20px;
    margin-left: 1%;
}

.resp1 {
    @include estilosyfuente (left, $colorgral, $respfaq);
    font-family: $fuentegral;
    font-weight: bold;
    margin-left: 4%;
}
      
.enviarpedido {
    @include estilosyfuente (left, $colorgral, $subgral);
    font-family: $fuentegral;
    padding: 20px;
    margin-left: 1%; 
}

.resp2 {
    @include estilosyfuente (left, $colorgral, $respfaq);
    font-family: $fuentegral;
    font-weight: bold;
    margin-left: 4%;
}


.metpago {
    @include estilosyfuente (left, black, $subgral);
    font-family: $fuentegral;
    padding: 20px;
    margin-left: 1%;
}

.resp3 {
    @include estilosyfuente (left, black, $respfaq);
    font-family: $fuentegral;
    font-weight: bold;
    margin-left: 4%;
}
        
.img-fluid {
    margin-top: 3rem;
}


