.navbarTodos {
    @extend .navbarTodos
}

.containerIndex {
    // background-color: #2596be;
    width: 90%;
    max-width: 1400px;
    margin: 1.6rem auto;

    display: grid;
    gap: 1.6rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "pdestacado pdestacado"
    "imagenprincipaltamaño el3"
    "el4 el4";
}
.pdestacado {
    grid-area: pdestacado;
    &__titulo {
        justify-content: center;
        color: black;
        text-align: center;
        font-size: 64px;
        font-family: $tipoletra;
        background-color: $colorh1;
    }
    &__subtitulo {
        color: black;
        font-family: $tipoletra;
        font-size: 45px;
        text-align: center;
        padding: 5px;
    }
}

.imagenprincipaltamaño {
    grid-area: imagenprincipaltamaño;
    height: 500px;
    width: 800px;
    &__2 {
        height: 400px;
    }
}

.descripcion {
    grid-area: el3;
    &__parrafo {
        display: flex;
        background-color: antiquewhite;
        border-radius: 10%;
        height: 373px;
        text-align: center;
        width: 245px;
        font-size: 22px;
        font-family: 'EB Garamond', serif;
    }
    &__review {
        display: flex;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transform: translateY(0.1px) translateX(30px);
        text-decoration: none;
        color: black;
    }
    &__boton {
        display: flex;
        text-align: center;
        border-radius: 10%;
        font-family: 'EB Garamond', serif;
        transform: translateY(1px) translateX(70px);
    }
}

.logos {
    text-align: center;
    grid-area: el4;
}

