.navbarTodos {
    @extend .navbarTodos
}

.info {
    font-family: 'EB Garamond', serif;
    color: black;

    &__qsomos {
        font-size: 64px;    
        text-align: center;
        background-image: linear-gradient(45deg, #406882, #b1d0e0);
    }
    &__descripcion2 {
        background-color: azure;
        font-size: x-large;
        border-radius: 5%;
        height: 330px;
        width: 500px;
        margin: 2rem auto;
        text-align: center;
        margin-right: 25%;
        margin-top: 8%;
        float: right; 
    }

}

.imagenprincipal2 {
    margin-top: 5%;
    margin-bottom: 8%;
    margin-left: 5%;
}

