.info {
    font-family: $fuentegral;
    color: $colorgral;

    &__qsomos {
        @include estilosyfuente (center, $colorgral, $titulogral);
        background-image: $fondotitulo;
    }
    &__descripcion2 {
        @include estilosyfuente (center, $colorgral, x-large);
        background-color: azure;
        border-radius: 5%;
        height: 330px;
        width: 500px;
        margin: 2rem auto;
        margin-right: 25%;
        margin-top: 8%;
        float: right; 
    }

}

.imagenprincipal2 {
    margin-top: 5%;
    margin-bottom: 8%;
    margin-left: 5%;
}

