.qsomos {
        @include estilosyfuente (center, $colorgral, $titulogral);
        background-image: $fondotitulo;
        font-family: $fuentegral;
    }

.descripcion2 {
        @include estilosyfuente (center, $colorgral, x-large);
        display: flex;
        align-content: flex-end;
        background-color: azure;
        font-family: $fuentegral;
        border-radius: 5%;
        height: 330px;
        width: 500px;
        margin-top: 6rem;
        margin-left: 8rem;
}

.imagenprincipal2 {
    margin-top: 3rem;
}
