.nprod {
    @include estilosyfuente (center, $colorgral, $titulogral);
    margin-bottom: 3rem;
    background-image: $fondotitulo;
    font-family: $fuentegral;
}

.logos2 {
    text-align: center;
    margin-top: 5rem;
}

.margenimg {
    margin-bottom: 1rem;
}