$fondotitulo: linear-gradient(to bottom, #3092b4, #ce52b2);
$fuentegral: 'EB Garamond', serif;
$colorgral: black;
$titulogral: 64px;
$subgral: 45px;
$respfaq: 25px;

// Mixin estilos y colores de letras

@mixin estilosyfuente ($align, $color, $size){
    text-align: $align;
    color: $color;
    font-size: $size;
}

@mixin fondosyfuente ($background, $justify, $font){
    background-image: $background;
    justify-content: $justify;
    font-family: $font;
}

