$fondotitulo: linear-gradient(45deg, #406882, #b1d0e0);
$fuentegral: 'EB Garamond', serif;
$colorgral: black;
$titulogral: 64px;
$subgral: 45px;

// Mixin estilos y colores de letras

@mixin estilosyfuente ($align, $color, $size){
    text-align: $align;
    color: $color;
    font-size: $size;
}

